/*Carousel Style*/

@media only screen and (min-width:320px) {
    #dissapearWhenSmall {
        display: none;
    }
    .carouselbox,
    .carouselWrapper {
        display: block;
    }
}

@media screen and (min-width:768px) {
    #dissapearWhenSmall {
        display: block;
    }
    .carouselbox,
    .carouselWrapper {
        display: none;
    }
}

.carouselbox {
    font-family: helvetica, sans-serif;
    font-size: 14px;
    width: 100px;
    position: relative;
    overflow: hidden;
}

.contentCarousel {
    margin: 0;
    padding: 0;
}

.contentCarousel li {
    font-size: 100px;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}

.activeCarousel {
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
}

.activeCarousel li {
    position: absolute;
    top: 200px;
}

.activeCarousel li.currentCarousel {
    top: 30px;
}

.activeCarousel .buttons {
    padding: 15px 0px 0px 12px;
    text-align: center;
    z-index: 10;
    position: relative;
    display: flex;
    background: none;
    color: $youseYellow;
    margin-left: 28px;
}

.carouselbox button {
    border: none;
    display: none;
    background: $youseWhite;
    color: $youseYellow;
    font-size: 22px;
}

.activeCarousel button {
    display: block;
}

.offscreen {
    position: absolute;
    left: -2000px;
}