/*HEADER*/

/*----- Toggle Button -----*/

.toggle-nav {
    display: none;
}

.nav__logo {
    display: block;
    float: left;
    width: 116px;
    height: 34px;
    margin: 13px 0;
    overflow: hidden;
    text-indent: -9999px;
}

@media screen and (min-width: 860px) {
    .menu {
        width: 100%;
        padding-top: 20px;
        background: $youseWhite;
        text-align: center;
        position: fixed;
        z-index:9999999;
    }

    .active {
      margin-top:4px;
    }

    .menu a {
        color: $youseGray;
        text-decoration: none;
        transition: color linear 0.15s;
    }
    .fixLogoDiv {
        margin-left: 205px;
        position: absolute;
    }

    .catStyleColorOrange {
        color: $youseWhite !important;
        margin: 10px;
        padding-right: 20px;
        padding-bottom:30px;
        text-decoration: none;
        border-right: 1px solid $youseWhite;
    }

    .catStyleOrange:last-child a {
        border:none;
    }

    .catMenuOrange {
        margin-top: -2.5% !important;
        margin-left: 12%;
        margin-right: 12%;
        display: flex;
        border-radius: 10px;
    }
    .catMenuOrange .col-12 {
        padding: 5px 20px 40px 20px;
        border-radius: 10px;
        background: $youseOrange;
        text-align: center;
    }
    .catMenuOrange .col-12 ul {
        display: inline-flex;
        list-style: none;
    }
}

.menu ul {
    display: inline-block;
}

.menu li {
    margin: 0px 0px 0px 58px;
    float: left;
    list-style: none;
    font-weight: bold;
    font-size: 13px;
}

.menu a:hover,
.menu .current-item a {
    text-decoration: none;
    color: $youseGray;
}

.catStyle {
    display: none;
}

/*----- Responsive -----*/

@media screen and (max-width: 1150px) {
    .wrap {
        width: 90%;
    }
}

@media screen and (max-width: 860px) {
    .menu {
        position: fixed;
        display: inline-block;
        width: 100%;
        background-color: $youseWhite;
        margin-top: -60px;
        z-index:9999999;

    }
    .menu ul.active {
        display: none;
    }
    .menu ul {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0px;
        background: $youseYellow;
        color: $youseWhite;
    }
    .menu li {
        margin: 10px 180px 10px 10px;
        float: none;
        display: block;
        font-size: 15px;
    }
    .menu a {
        color: $youseWhite;
        text-decoration: none;
        transition: color linear 0.15s;
    }
    .menu ul .catStyle {
        padding: 10px;
        background: $youseWhite;
    }
    .catStyleColor {
        color: $youseYellow !important;
        font-weight: initial;
    }
    .catStyleColor:hover,
    .catStyleColor:active {
        color: $youseGray !important;
    }
    .menu a {
        display: block;
    }
    .toggle-nav {
        padding: 20px;
        float: right;
        display: inline-block;
        background: $youseYellow;
        color: $youseWhite;
        font-size: 20px;
        transition: color linear 0.15s;
    }
    .toggle-nav:hover,
    .toggle-nav.active {
        text-decoration: none;
        background-color: #FCB017;
        color: #FFFFFF;
    }
    .menu a {
        color: $youseWhite;
        text-decoration: none;
        transition: color linear 0.15s;
    }
    .fixLogoDiv {
        float: left;
        position: absolute;
        left: 0px;
        padding: 18px;
    }
    .catMenuOrange {
        display: none;
    }

}
