/*Purple BOX*/

@media only screen and (min-width:320px)  {
    .catMenu {
        display: none;
    }

    .purpleDivLeftContent {
        padding: 60px 0px 10px 10px;
        text-align: left;
        color: #FFFFFF;
        margin-left: 30px;
    }

    .postTitle {
        text-align: left;
        color: $youseWhite;
        margin-left: 0px;
        font-size:10px;
        text-align:left;
        margin-top:10px;
    }

    .purpleDiv a {
        margin-top: 60px;
        border-radius: 18px;
        text-align: center;
        padding: 8px;
        font-size: 14px;
        border: solid 2px $youseWhite;
        font-weight: bold;
        cursor: pointer;
        display: block;
        width: 50%;
        text-decoration: none !important;
        color: $youseWhite !important;
    }

    .purpleDivContentPost {
        text-align: left;
        color: $youseWhite;
        padding:5%;
    }

    .yousemon {
        display:none;
    }

    .socialIcons {
      text-align: center;
    }

    .socialIcons a i {
      margin-right:20px;
      color:$youseWhite;
      text-decoration: none;
    }

    footer {
        background-color: $yousePurple;
        color: $youseWhite;
        clear: both;
        position: relative;
        height: 100%;
        padding:40px;
    }
}

@media screen and (min-width:768px) {
    .menu {
        top: 0px;
    }

    .purpleDiv {
        background-color: $yousePurple;
        padding: 10%;
    }
    .purpleDivLeftContent {
        padding: 60px 95px 0px 65px;
        text-align: left;
        color: $youseWhite;
        margin-left: 0px;
    }

    .purpleDivContentPost {
        text-align: left;
        color: $youseWhite;
        padding:5%;
    }

    .purpleDivPost {
        background-color: $yousePurple;
        padding: 10%;
    }

    .fixLogoDiv {
        margin-top: -4px;
    }

    .catMenuOrange {
        background: $youseOrange;
        color: $youseWhite !important;
    }

    .dissapearWhenSmall .row + .row {
        margin-top:2px!important;
    }

    .fix_yousemon {
        padding-right: 50%;
    }

    .purpleDivContentPost a {
        margin-top: 30px;
        border-radius: 18px;
        text-align: center;
        padding: 8px;
        font-size: 14px;
        border: solid 2px $youseWhite;
        font-weight: bold;
        cursor: pointer;
        display: block;
        width: 30%!important;
        text-decoration: none !important;
        color: $youseWhite !important;
    }

    .yousemon {
        position: relative;
        float: right;
        margin-top: -426px;
        margin-right: 60px;
        display:block;
    }

    .socialIcons {
      text-align: right;
    }

    .socialIcons a i {
      margin-right:20px;
    }

    footer {
        background-color: $yousePurple;
        color: $youseWhite;
        clear: both;
        position: relative;
        height: 100%;
        padding:100px 210px 100px 210px;
    }
}

.purpleDiv {
    background-color: $yousePurple;
    margin-top: 60px;
}

.purpleDivRightContent {
    padding: 30px;
    align-content: center;
}

.callToActionTitle {
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
    margin-top: -40px;
}

.postTitle {
    text-align: left;
    color: $youseWhite;
    margin-left: 0px;
    font-size:26px;
    text-align:left;
    margin-top:20px;
}

.callToActionText {
    font-size: 14px;
    padding-right: 100px;
    font-weight: lighter;
    display: block;
    margin-bottom: 20px;
    color:$youseWhite;
}

/*Site Content*/

.site-content {
    float: left;
    color: #4D5255;
    margin-right: 12%;
    margin-left: 12%;
    margin-top: 10%;
    margin-bottom: 0;
}

.childCat {
    color: $youseDarkGray;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
}

h3.parentCat {
    margin-top: 15px;
    margin-bottom: -20px;
}

.parentCat {
    color: $yousePurple;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.fixHeadTwo {
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    margin-top: -18px;
}

.fixHeadTwo a {
    text-decoration:none;
    color:#4D5255;
}
.partnersTitle {
    font-size: 40px;
    line-height: 42px;
    color: $youseDarkerGray;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 15px;
}

.sacTitle {
    font-size: 36px;
    line-height: 42px;
    color: $youseDarkerGray;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
}

.sacDescription {
    font-size: 23px;
    font-weight: lighter;
    line-height: 24px;
    margin-top: -10px;
}

.accordionOption {
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 0px;
    color: $youseYellowAccordion;
    cursor: pointer;
}

.bottomBorder {
    border-bottom: 1px #ece9e980 solid;
    border-radius: 10px;
}

.bottomBorder img {
  border-radius:10px 10px 0 0
}

.fullBorder {
    border: 1px #ece9e980 solid;
    border-radius: 6px;
    margin: 5px;
    width: 157px;
    height: 98px;
    display: flex;
    align-items: center;
}

.fullBorder img {
    display: block;
    margin: 0 auto;
}

.fixSpecialPartners img {
    max-width: 480px;
    max-height: 143px;
    width: 100%;
}

.ui-accordion-content {
    height: 100% !important;
}

.ui-accordion-content p {
    font-size: 16px;
    line-height: 20px;
    color: $youseGray;
}

footer p {
    font-size: 10px;
    line-height: 15px;
}
