/*Variables*/

/*Colors*/

$youseWhite: #FFFFFF;
$youseGray: #6B7B84;
$youseDarkGray: #48535B;
$youseDarkerGray: #4D5255;
$youseYellow: #FCB017;
$yousePurple: #6B45A7;
$youseOrange: #FF971B;
$youseYellowAccordion: #F99500;