/*Variables*/
/*Colors*/
/*
Theme Name: testeyouse
Author: Ronald Scapin Filho
Author URI: https://www.linkedin.com/in/rsfsp
Description: Youse test for choose what professional is the better to get the job
Version:1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: testeyouse
*/
/*Here we reset some web-browser default style*/
html,
body,
ul,
ol {
  margin: 0 !important;
  margin-top: 0 !important;
  padding: 0 !important;
  font-family: Helvetica, sans-serif;
}

/*HEADER*/
/*----- Toggle Button -----*/
.toggle-nav {
  display: none;
}

.nav__logo {
  display: block;
  float: left;
  width: 116px;
  height: 34px;
  margin: 13px 0;
  overflow: hidden;
  text-indent: -9999px;
}

@media screen and (min-width: 860px) {
  .menu {
    width: 100%;
    padding-top: 20px;
    background: #FFFFFF;
    text-align: center;
    position: fixed;
    z-index: 9999999;
  }

  .active {
    margin-top: 4px;
  }

  .menu a {
    color: #6B7B84;
    text-decoration: none;
    transition: color linear 0.15s;
  }

  .fixLogoDiv {
    margin-left: 205px;
    position: absolute;
  }

  .catStyleColorOrange {
    color: #FFFFFF !important;
    margin: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    text-decoration: none;
    border-right: 1px solid #FFFFFF;
  }

  .catStyleOrange:last-child a {
    border: none;
  }

  .catMenuOrange {
    margin-top: -2.5% !important;
    margin-left: 12%;
    margin-right: 12%;
    display: flex;
    border-radius: 10px;
  }

  .catMenuOrange .col-12 {
    padding: 5px 20px 40px 20px;
    border-radius: 10px;
    background: #FF971B;
    text-align: center;
  }

  .catMenuOrange .col-12 ul {
    display: inline-flex;
    list-style: none;
  }
}
.menu ul {
  display: inline-block;
}

.menu li {
  margin: 0px 0px 0px 58px;
  float: left;
  list-style: none;
  font-weight: bold;
  font-size: 13px;
}

.menu a:hover,
.menu .current-item a {
  text-decoration: none;
  color: #6B7B84;
}

.catStyle {
  display: none;
}

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
  .wrap {
    width: 90%;
  }
}
@media screen and (max-width: 860px) {
  .menu {
    position: fixed;
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
    margin-top: -60px;
    z-index: 9999999;
  }

  .menu ul.active {
    display: none;
  }

  .menu ul {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    background: #FCB017;
    color: #FFFFFF;
  }

  .menu li {
    margin: 10px 180px 10px 10px;
    float: none;
    display: block;
    font-size: 15px;
  }

  .menu a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color linear 0.15s;
  }

  .menu ul .catStyle {
    padding: 10px;
    background: #FFFFFF;
  }

  .catStyleColor {
    color: #FCB017 !important;
    font-weight: initial;
  }

  .catStyleColor:hover,
.catStyleColor:active {
    color: #6B7B84 !important;
  }

  .menu a {
    display: block;
  }

  .toggle-nav {
    padding: 20px;
    float: right;
    display: inline-block;
    background: #FCB017;
    color: #FFFFFF;
    font-size: 20px;
    transition: color linear 0.15s;
  }

  .toggle-nav:hover,
.toggle-nav.active {
    text-decoration: none;
    background-color: #FCB017;
    color: #FFFFFF;
  }

  .menu a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color linear 0.15s;
  }

  .fixLogoDiv {
    float: left;
    position: absolute;
    left: 0px;
    padding: 18px;
  }

  .catMenuOrange {
    display: none;
  }
}
.row:after {
  display: block;
  clear: both;
  content: "";
}

.row + .row {
  margin-top: 3%;
}

[class^=col-] {
  float: left;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class^=col-]:last-child {
  margin-right: 0%;
}

/*
.col-1 { width:5.583333333333333%; }
.col-2 { width:14.16666666666667%; }
.col-3 { width:22.75%; }
.col-4 { width:31.33333333333333%; }
.col-5 { width:39.91666666666667%; }
.col-6 { width:48.5%; }
.col-7 { width:57.08333333333333%; }
.col-8 { width:65.66666666666666%; }
.col-9 { width:74.25%; }
.col-10 { width:82.83333333333333%; }
.col-11 { width:91.41666666666666%; }
.col-12 { width:100%; }
*/
@media only screen and (min-width: 320px) {
  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .col-5 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  .col-7 {
    width: 100%;
  }

  .col-8 {
    width: 100%;
  }

  .col-9 {
    width: 100%;
  }

  .col-10 {
    width: 100%;
  }

  .col-11 {
    width: 100%;
  }

  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 5.5833333333%;
  }

  .col-2 {
    width: 14.1666666667%;
  }

  .col-3 {
    width: 22.75%;
  }

  .col-4 {
    width: 31.3333333333%;
  }

  .col-5 {
    width: 39.9166666667%;
  }

  .col-6 {
    width: 48.5%;
  }

  .col-7 {
    width: 57.0833333333%;
  }

  .col-8 {
    width: 65.6666666667%;
  }

  .col-9 {
    width: 74.25%;
  }

  .col-10 {
    width: 82.8333333333%;
  }

  .col-11 {
    width: 91.4166666667%;
  }

  .col-12 {
    width: 100%;
  }
}
/*Purple BOX*/
@media only screen and (min-width: 320px) {
  .catMenu {
    display: none;
  }

  .purpleDivLeftContent {
    padding: 60px 0px 10px 10px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 30px;
  }

  .postTitle {
    text-align: left;
    color: #FFFFFF;
    margin-left: 0px;
    font-size: 10px;
    text-align: left;
    margin-top: 10px;
  }

  .purpleDiv a {
    margin-top: 60px;
    border-radius: 18px;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    border: solid 2px #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 50%;
    text-decoration: none !important;
    color: #FFFFFF !important;
  }

  .purpleDivContentPost {
    text-align: left;
    color: #FFFFFF;
    padding: 5%;
  }

  .yousemon {
    display: none;
  }

  .socialIcons {
    text-align: center;
  }

  .socialIcons a i {
    margin-right: 20px;
    color: #FFFFFF;
    text-decoration: none;
  }

  footer {
    background-color: #6B45A7;
    color: #FFFFFF;
    clear: both;
    position: relative;
    height: 100%;
    padding: 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    top: 0px;
  }

  .purpleDiv {
    background-color: #6B45A7;
    padding: 10%;
  }

  .purpleDivLeftContent {
    padding: 60px 95px 0px 65px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 0px;
  }

  .purpleDivContentPost {
    text-align: left;
    color: #FFFFFF;
    padding: 5%;
  }

  .purpleDivPost {
    background-color: #6B45A7;
    padding: 10%;
  }

  .fixLogoDiv {
    margin-top: -4px;
  }

  .catMenuOrange {
    background: #FF971B;
    color: #FFFFFF !important;
  }

  .dissapearWhenSmall .row + .row {
    margin-top: 2px !important;
  }

  .fix_yousemon {
    padding-right: 50%;
  }

  .purpleDivContentPost a {
    margin-top: 30px;
    border-radius: 18px;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    border: solid 2px #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 30% !important;
    text-decoration: none !important;
    color: #FFFFFF !important;
  }

  .yousemon {
    position: relative;
    float: right;
    margin-top: -426px;
    margin-right: 60px;
    display: block;
  }

  .socialIcons {
    text-align: right;
  }

  .socialIcons a i {
    margin-right: 20px;
  }

  footer {
    background-color: #6B45A7;
    color: #FFFFFF;
    clear: both;
    position: relative;
    height: 100%;
    padding: 100px 210px 100px 210px;
  }
}
.purpleDiv {
  background-color: #6B45A7;
  margin-top: 60px;
}

.purpleDivRightContent {
  padding: 30px;
  align-content: center;
}

.callToActionTitle {
  font-size: 50px;
  display: block;
  margin-bottom: 10px;
  margin-top: -40px;
}

.postTitle {
  text-align: left;
  color: #FFFFFF;
  margin-left: 0px;
  font-size: 26px;
  text-align: left;
  margin-top: 20px;
}

.callToActionText {
  font-size: 14px;
  padding-right: 100px;
  font-weight: lighter;
  display: block;
  margin-bottom: 20px;
  color: #FFFFFF;
}

/*Site Content*/
.site-content {
  float: left;
  color: #4D5255;
  margin-right: 12%;
  margin-left: 12%;
  margin-top: 10%;
  margin-bottom: 0;
}

.childCat {
  color: #48535B;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

h3.parentCat {
  margin-top: 15px;
  margin-bottom: -20px;
}

.parentCat {
  color: #6B45A7;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.fixHeadTwo {
  font-size: 16px;
  font-weight: lighter;
  line-height: 20px;
  margin-top: -18px;
}

.fixHeadTwo a {
  text-decoration: none;
  color: #4D5255;
}

.partnersTitle {
  font-size: 40px;
  line-height: 42px;
  color: #4D5255;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 15px;
}

.sacTitle {
  font-size: 36px;
  line-height: 42px;
  color: #4D5255;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}

.sacDescription {
  font-size: 23px;
  font-weight: lighter;
  line-height: 24px;
  margin-top: -10px;
}

.accordionOption {
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 0px;
  color: #F99500;
  cursor: pointer;
}

.bottomBorder {
  border-bottom: 1px #ece9e980 solid;
  border-radius: 10px;
}

.bottomBorder img {
  border-radius: 10px 10px 0 0;
}

.fullBorder {
  border: 1px #ece9e980 solid;
  border-radius: 6px;
  margin: 5px;
  width: 157px;
  height: 98px;
  display: flex;
  align-items: center;
}

.fullBorder img {
  display: block;
  margin: 0 auto;
}

.fixSpecialPartners img {
  max-width: 480px;
  max-height: 143px;
  width: 100%;
}

.ui-accordion-content {
  height: 100% !important;
}

.ui-accordion-content p {
  font-size: 16px;
  line-height: 20px;
  color: #6B7B84;
}

footer p {
  font-size: 10px;
  line-height: 15px;
}

/*Carousel Style*/
@media only screen and (min-width: 320px) {
  #dissapearWhenSmall {
    display: none;
  }

  .carouselbox,
.carouselWrapper {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  #dissapearWhenSmall {
    display: block;
  }

  .carouselbox,
.carouselWrapper {
    display: none;
  }
}
.carouselbox {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  width: 100px;
  position: relative;
  overflow: hidden;
}

.contentCarousel {
  margin: 0;
  padding: 0;
}

.contentCarousel li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.activeCarousel {
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
}

.activeCarousel li {
  position: absolute;
  top: 200px;
}

.activeCarousel li.currentCarousel {
  top: 30px;
}

.activeCarousel .buttons {
  padding: 15px 0px 0px 12px;
  text-align: center;
  z-index: 10;
  position: relative;
  display: flex;
  background: none;
  color: #FCB017;
  margin-left: 28px;
}

.carouselbox button {
  border: none;
  display: none;
  background: #FFFFFF;
  color: #FCB017;
  font-size: 22px;
}

.activeCarousel button {
  display: block;
}

.offscreen {
  position: absolute;
  left: -2000px;
}

/*# sourceMappingURL=style.css.map */
